div {
    background-color: white;
    text-align: center;
    padding: 250px;
    min-height: 150px;
    font-size: 50px;
}
body{
    margin: 0;
}

h1 {
background-color: black;
text-align: center;
display: flex;
min-height: 50px;
color: white;
}

h1, div {
    font-family: "Poppins";
    align-items: center;
    justify-content: center;
}