div {
font-family: "Poppins";
align-items: center;
}


.container{
min-height: 100vh;
display: grid;
grid-template-rows: auto 1fr auto;
}

nav, footer {
background-color: black;
display: grid;
color: white;
text-align: center;
grid-template-rows: 50px;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*issue with content- width*/ 
h1 {
    padding: 250px;
    vertical-align: auto;
}

body {
    margin: 0px;
    font-family: "Poppins";
}
