body {
    margin: 0;
}

div{
}
/* ;) */
.container {
    width: 99.8%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.col-3 {

}
.row {
    width: 100%;
    display: block;
}

img {
    width: 100%;
    display: block;
    border: 1px solid red;
}
